<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.2">
	<!-- PAGE TITLE HERE -->
	<title>Nodhus</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet"/>
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>

    <div id="layout-placeholder"></div>

    <div class="header">
        <div class="title-container">
            <div class="circle"></div>
            <h1 class="title">ACCESOS PATIO</h1>
        </div>
    </div>


    
            <div class="container-fluid main-container">
            <div id="content" class="p-4 p-md-5 pt-5">
                 <div id="acceso"></div>
                <div class="container">                    
                     <form id="craeateAccesoPatio" method="" enctype="multipart/form-data">
                      <!--  <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">ID de Cargue</label>
                                    <select id="id_cargue" name="id_cargue" class="form-control" required>
                                        <option value="">Seleccione una Opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Funcionario de Seguridad</label>
                                    <input type="text" class="form-control" id="funcionario_seguridad" name="funcionario_seguridad" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Hora</label>
                                    <input type="time" class="form-control" id="hora" name="hora" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Fecha</label>
                                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Observaciones</label>
                                    <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
        
                        <br>
        
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <a class="btn btn-primary" href="/view/preventas/index.html">Volver</a>
                                <button class="btn btn-primary" id="BtnSavePlaca">Enviar</button>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
            </div>
        </div>
    <!-- Scripts -->
    <script src="/componentes/loadSidebar.js"></script>
    <script src="/js/home/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script type="text/javascript" src="/js/patio/createAccesoPatio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
