body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Colores */
.azul { background-color: #007bff; }
.verde { background-color: green; }
.naranja { background-color: orange; }
.rojo { background-color: red; }
.morado { background-color: purple; }
.negro { background-color: black; }

/* --- Calendar --- */
.calendar-container {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0px;
}

.calendar-container h6 {
    text-align: right;
    width: 75px;
    font-weight: 600;
}

.calendar-container h6 span {
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 12px;
    margin-right: 2px;
    border-radius: 20%;
}

.color-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contador-programa {
    margin-left: 8%;
    background: linear-gradient(105deg, #007bff, #ededed81);
    color: #000000;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.calendar {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: linear-gradient(105deg, #007bff, #ededed);
    overflow: hidden;
}

.calendar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.calendar:focus-within {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.143);
}

.calendar::-webkit-calendar-picker-indicator {
    background-color: #fff;
    color: #555;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar::-webkit-calendar-picker-indicator:hover {
    background-color: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* --- Contenedores Principales --- */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px;
    margin-top: 80px;
    width: 99%;
}

.container1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    display: flex;
}

.col-md-8 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 300px;
}

/* --- Encabezados --- */
h2, h3, h5, h6 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
h3{
    margin-bottom: 15px;
}
h5{
    margin-bottom: 5px;
}
h6{
    margin-top: 3px;
}

/* --- Secciones --- */
.section {
    margin-bottom: 20px; /* Espacio entre secciones */
}

.section-header {
    cursor: pointer;
    background-color: #f8f9fa; /* Color de fondo suave */
    border: 1px solid #ddd; /* Borde sutil */
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al hacer hover */
    user-select: none; /* Evita la selección de texto al hacer clic */
}

.section-header::after {
    content: ' ▼';
    font-size: 0.8em;
    color: #555;
    float: right;
    transition: transform 0.3s ease; /* Transición para la rotación */
}

.section-header.collapsed::after {
    content: ' ▶';
    transform: rotate(0deg); /* Asegura que la flecha esté horizontal */
}

.section-header:hover {
    background-color: #e9ecef; /* Color más oscuro al hacer hover */
}

.total-contenedores {
    font-weight: bold;
    color: #007bff; /* Puedes cambiar el color a tu gusto */
    margin-left: 10px; /* Espacio entre el texto y el total */
}

.programacion-section {
    transition: max-height 0.3s ease-out;
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}

.programacion-section.collapsed {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.row-cols-auto {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* --- Contenedores --- */
.contenedor {
    background-color: #f5f5f5ef;
    color: #333;
    border: 1px solid #ced4da8e;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 8px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.contenedor span:first-child {
    font-weight: bold;
    display: block;
}

/* --- Placas --- */
.placa {
    background-color: #007bff;
    color: #fff;
    padding: 5px 6px;
    margin-bottom: 2px;
    cursor: grab;
    list-style: none;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
}

.placa:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#placas {
    display: flex;
    flex-direction: column;
    height: 650px;
    overflow-y: auto;
}

/* --- Botones --- */
.save, .edit {
    color: #fff;
    margin-top: 0px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.save {
    background-color: #007bff;
    margin-right: 15px;
}

.edit {
    background: linear-gradient(105deg, #007bff, #ff000081);
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.save:hover, .edit:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.save:active, .edit:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.save:focus, .edit:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.edit i {
    margin-right: 0px;
    color: #ffffff;
}

/* --- Cliente --- */
.cliente-group {
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes redondeados para el grupo */
}

.cliente-header {
    background-color: #e9ecef;
    padding: 5px 12px; /* Reducir el padding vertical de 8px a 5px */
    border-bottom: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border-radius: 5px 5px 0 0;
    font-size: 10px; /* Reducir el tamaño de la fuente */
  }

.cliente-header:last-child{
    border-radius: 5px;
}

.cliente-header:hover {
    background-color: #dee2e6; /* Un tono más oscuro al hacer hover */
}

.toggle-button {
    font-size: 1.2em; /* Tamaño de la flecha */
    color: #333; /* Color de la flecha */
    padding: 0 10px; /* Espaciado alrededor de la flecha */
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition: transform 0.3s ease; /* Transición suave para la rotación */
}
.toggle-button:hover {
    background-color: #c8ccd0; /* Un tono más oscuro al hacer hover */
}

.cliente-group.collapsed .toggle-button {
    transform: rotate(-90deg); /* Rota la flecha cuando está contraído */
}

.cliente-group.collapsed .contenedores {
    display: none;
}

.contenedores {
    padding: 10px; /* Espaciado interno para los contenedores */
}