body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    justify-content: space-between; /* Espacia los elementos horizontalmente */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    box-sizing: border-box;
}

.logo {
    max-width: 200px;
    padding-top: 50px;
    padding-left: 50px;
}

.content {
    margin-top: 10%;
    color: white;
}

.tagline {
    font-size: 65px;
    margin-bottom: 20px;
   
}

.tagline strong {
    font-size: 60px;
    font-weight: bold;
}

.description {
    font-size: 24px;
    margin-top: 10px;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 50px; /* Ajusta el margen derecho si es necesario */
}

.login-container {
    width: 300px;
    padding: 70px 30px;
    background: rgba(0, 0, 0, 0.436);
    border-radius: 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}

.login-container h2 {
    margin-top: 0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nodhus-logo {
    max-width: 250px;
    display: block;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #1a1a1a;
    color: #fff;
    box-sizing: border-box;
}

.input-field::placeholder {
    color: #ffffff;
}

.login-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.forgot-password a:hover {
    text-decoration: underline;
}