<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet">
    <link href="/css/vehiculos.css" rel="stylesheet">
    <link href="/css/contador.css" rel="stylesheet">
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- ag-grid -->
      <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
      <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

    <style>
        .calendar {
        display: block; 
        margin: 0 auto; 
        width: 200px; 
        padding: 8px; 
        margin-bottom: 15px; 
        border: none;
        border-radius: 12px; 
        font-size: 16px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease; 
        background: linear-gradient(105deg, #007bff, #ededed); /* Degradado sutil */
        overflow: hidden; 
    }
    
    .calendar:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    }
    
    .calendar:focus-within { 
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.143);
    }
    
    .calendar::-webkit-calendar-picker-indicator {
        background-color: #fff; 
        color: #555;
        padding: 10px 14px;
        border-radius: 10px; 
        cursor: pointer;
        transition: all 0.2s ease; 
        position: relative; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil en el botón */
    }
    
    .calendar::-webkit-calendar-picker-indicator:hover {
        background-color: #f0f0f0; 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); 
    }

  


    </style>

</head>
<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>

<body>



    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">EXPORTACION</h1>
            </div>
        </div>

        <div class="margenform">
            <div class="semaforo-container" onclick="openModal()">
                <div class="notification basic">
                    <i class="fas fa-bell icon"></i>
                    <span1>Notificaciones Exportación</span1>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-xl-12 col-xxl-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card progress-card">
                              <div class="card-body">
                                <div class="counter-container">
                                  <div class="counter">
                                    <i class="fas fa-list-ol"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-programa"></span>
                                      <span class="counter-label">Total Programa</span>
                                    </div>
                                  </div>
                                  <div class="counter">
                                    <i class="fas fa-check-circle"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-ingreso-planta"></span>
                                      <span class="counter-label">Total Colocados</span>
                                    </div>
                                  </div>
                                  <div class="counter">
                                    <i class="fas fa-upload"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-documento-lleno"></span>
                                      <span class="counter-label">Total Cargados</span>
                                    </div>
                                  </div>
                                  <div class="counter">
                                    <i class="fas fa-truck"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-vehiculos"></span>
                                      <span class="counter-label">Vehículos en Operación</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                      
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                    <div class="me-auto mb-sm-0 mb-3">
                                        <h4 class="card-title mb-2">Estado del Programa</h4>
                                    </div>
                                </div>
                                <div id="preprogramar" class="ag-theme-alpine" style="height:600px; width: 100%;"></div>    
                            </div>
                        </div>  


                        <div class="col-md-6">
                            <div class="card progress-card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                    <div class="me-auto mb-sm-0 mb-3">
                                      <h4 class="card-title mb-2">Estados del Programa</h4>
                                    </div>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3">
                                        <canvas id="estado-operacion"></canvas>
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card progress-card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                    <div class="me-auto mb-sm-0 mb-3">
                                      <h4 class="card-title mb-2">Terminal Portuario</h4>
                                    </div>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3">
                                        <canvas id="grafico-puerto-ingreso"></canvas> 
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card progress-card">
                               <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="grafico-patio-retiro" class="w-100 h-100"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="grafico-on-time" class="w-100 h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="grafico-linea-naviera" class="w-100 h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="grafico-sitio-cargue" class="w-100 h-100"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-header d-flex flex-wrap border-0 pb-0">
                      <div class="me-auto mb-sm-0 mb-3">
                        <h4 class="card-title mb-2">Detalle 
                 del programa</h4>
                      </div>
                    </div>
                    <div id="miTabla" class="ag-theme-alpine" style="height:600px; width: 100%; "></div>
                  </div>


                <div class="card">
                    <div class="card-header d-flex flex-wrap border-0 pb-0">
                        <div class="me-auto mb-sm-0 mb-3">
                            <h4 class="card-title mb-2">Historico de cargues</h4>
                        </div>
                    </div>

                    <div class="card-body pb-2">
                        <div id="chartBar2" class="bar-chart"></div>
                        <canvas id="dias-total-programa"></canvas>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>


    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Custom JavaScript -->


    <script src="/js/login/logout.js"></script>
    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/custom.min.js"></script>
    
    <script src="/js/sertrack/contadores.js"></script>
    <script src="/js/sertrack/cargar_estado.js"></script>
    <script src="/js/sertrack/estado_programa.js"></script>
    <script src="/js/sertrack/terminal_portuario.js"></script>
    <script src="/js/sertrack/patio_vacio.js"></script>
    <script src="/js/sertrack/ontime.js"></script>
    <script src="/js/sertrack/linea_naviera.js"></script>
    <script src="/js/sertrack/sitio_cargue.js"></script>
    <script src="/js/sertrack/rango_fecha.js"></script>
    <script src="/js/sertrack/tabla_programa.js"></script>
    <script src="/js/sertrack/notificaciones_expo.js"></script>

    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@32.1.0/dist/ag-grid-charts-enterprise.js?t=1724946077050"></script>
</body>

</html>