
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/contador.css" rel="stylesheet">
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <!-- ag-grid -->
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">

    <style>
    .campo-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    }

    .campo-group > div {
    width: 48%;
    }

    label {
    display: block;
    margin-bottom: 5px;
    }
    </style>
</head>

<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>

<body>
    <div class="header">
        <div class="title-container">
            <div class="circle"></div>
            <h1 class="title">HISTORICO FINALIZADOS</h1>
        </div>
    </div>

    <div class="margenform">

<div class="col-md-12">
    <div class="">
      <div class="card-body">
        <div class="counter-container">
          <div class="counter">
            <i class="fas fa-list-ol"></i>
            <div class="counter-data">
              <span class="counter-value" id="total-programa"></span>
              <span class="counter-label">Total Programa</span>
            </div>
          </div>


          <div class="counter2">
            <ul class="counter-container2">
                <li class="counter-item2">
                  <i class="fas fa-times-circle"></i>
                  <span class="counter-value2" id="total-ingreso-planta"></span>
                  <span class="counter-label2">Delayed</span>
                </li>
                <li class="counter-item">
                  <i class="fas fa-check-circle"></i>
                  <span class="counter-value2" id="total-documento"></span>
                  <span class="counter-label2">OnTime</span>
                </li>
              </ul>
            <div class="counter-data">
             
              <span class="counter-label">Total por Estado</span>
            </div>
          </div>
          <div class="counter">
            <i class="fas fa-truck"></i>
            <div class="counter-data">
                <span class="counter-value2" id="total-documento-lleno"></span>
              <span class="counter-label">Total Vehículos Operación</span>
            </div>
          </div>
          <div class="counter">
            <i class="fas fa-truck"></i>
            <div class="counter-data">
              <span class="counter-value" id="total-vehiculos"></span>
              <span class="counter-label">Total Puerto Ingreso</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


        <div class="container-fluid">
            <div id="preprogramar" class="ag-theme-alpine" style="height:750px; width: 100%; "></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/login/logout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="/js/sertrack/historico.js"></script>
    <script type="text/javascript" src="/js/sertrack/contadores_historico.js"></script>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@32.1.0/dist/ag-grid-charts-enterprise.js?t=1724946077050"></script>

</body>

</html>