<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet">
    <link href="/css/vehiculos.css" rel="stylesheet">
    <link href="/css/contador.css" rel="stylesheet">
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- ag-grid -->
      <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
      <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

</head>
<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>

<body>



    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">IMPORTACION</h1>
            </div>
        </div>

        <div class="margenform">
          
            <div class="container-fluid">
                <div class="col-xl-12 col-xxl-12">
                    <div class="row">


                        <div class="col-md-4">
                            <div class="card progress-card">
                              <div class="card-body">
                                <div class="counter-container">

                                  <div class="counter">
                                    <i class="fas fa-list-ol"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="pendiente_cita"></span>
                                      <span class="counter-label">Total Pendientes por cita</span>
                                    </div>
                                  </div>

                                  <div class="counter">
                                    <i class="fas fa-check-circle"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-citas-programa"></span>
                                      <span class="counter-label">Total Citas programadas</span>
                                    </div>
                                  </div>

                                  <div class="counter">
                                    <i class="fas fa-upload"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-vacios"></span>
                                      <span class="counter-label">Total Vacíos en piso</span>
                                    </div>
                                  </div>
                                  <div class="counter">
                                    <i class="fas fa-truck"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id="total-llenos"></span>
                                      <span class="counter-label">Total llenos en piso</span>
                                    </div>
                                  </div>
                                  <div class="counter">
                                    <i class="fas fa-truck"></i>
                                    <div class="counter-data">
                                      <span class="counter-value" id=""></span>
                                      <span class="counter-label">Vehiculos en Operación</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-8">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                  <div class="me-auto mb-sm-0 mb-3">
                                    <h4 class="card-title mb-2">CITAS PROGRAMADAS DEL DÍA</h4>
                                  </div>
                                </div>
                                  <div id="tabla-combinada" class="ag-theme-alpine" style="height:500px; width: 100%; "></div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                  <div class="me-auto mb-sm-0 mb-3">
                                    <h4 class="card-title mb-2">ALERTAS</h4>
                                  </div>
                                </div>
                                <div id="" class="ag-theme-alpine" style="height:200px; width: 100%; "></div>
                              </div>
                            </div>
                        
                          </div>

                       
                       


                          <div class="col-md-6">
                            <div class="card progress-card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                    <div class="me-auto mb-sm-0 mb-3">
                                      <h4 class="card-title mb-2">Terminales de retiro</h4>
                                    </div>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3">
                                        <canvas id="terminal-retiro"></canvas>
                                     </div>
                                </div>
                            </div>
                        </div>

                      
                        <div class="col-md-6">
                            <div class="card progress-card">
                                <div class="card-header d-flex flex-wrap border-0 pb-0">
                                    <div class="me-auto mb-sm-0 mb-3">
                                      <h4 class="card-title mb-2">Volumen x mes/h4>
                                    </div>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3">
                                        <canvas id="volumenxmes"></canvas>
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card progress-card">
                               <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="productos" class="w-100 h-100"></div>
                                     </div>
                                </div>
                            </div>
                        </div>

                       
                        
                        <div class="col-md-4">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="sitio-descargue" class="w-100 h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <div class="card-body pb-0 pt-3" style="height: 600px;">
                                        <div id="navieras" class="w-100 h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
               
           



                <div class="container-fluid">
                  <div class="col-xl-12 col-xxl-12">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                              <div class="card-header d-flex flex-wrap border-0 pb-0">
                                <div class="me-auto mb-sm-0 mb-3">
                                  <h4 class="card-title mb-2">CONTENEDORES RETIRADOS PENDIENTES POR ENTREGAR</h4>
                                </div>
                              </div>
                              <div id="inventario-contenedores" class="ag-theme-alpine" style="height:600px; width: 100%; "></div>
                          </div>
                        </div>

                      
                    </div>
                  </div>
                </div>

      

               
           

            </div>
        </div>
    </div>


    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Custom JavaScript -->


    <script src="/js/login/logout.js"></script>
    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/custom.min.js"></script>
    
    <script src="/js/sertrack/contadores_impo.js"></script>
    <script src="/js/sertrack/contador_vacio_lleno.js"></script>

    <script src="/js/sertrack/tablas_grupo_impo.js"></script>

    <!-- <script src="/js/sertrack/tabla_citas_programa.js"></script>
    <script src="/js/sertrack/cargar_patio_impo.js"></script>
    <script src="/js/sertrack/tablero_vacios_impo.js"></script> -->

    <script src="/js/sertrack/terminal_retiro_puerto_impo.js"></script>
    <script src="/js/sertrack/volumenxmes.js"></script>
    <script src="/js/sertrack/producto_impo.js"></script>
    <script src="/js/sertrack/sitio_descargue_impo.js"></script>
    <script src="/js/sertrack/linea_naviera_impo.js"></script>

  

    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@32.1.0/dist/ag-grid-charts-enterprise.js?t=1724946077050"></script>
</body>

</html>