<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title> 

    <link rel="icon" href="/faviconN.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet">
    <link href="/css/vehiculos.css" rel="stylesheet">
    <link href="/css/style-Dash.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" 
 href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


</head>
<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>


<body>



    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">LLENOS</h1>
            </div>
        </div>

        <div class="margenform">
            <div class="container-fluid">
               

                <br>
                <!-- <div class="calendario-container">
                    <div class="semaforo-container export">
                        <input class="calendar" type="date" id="selectorFecha"> 
                      </div>
                </div> -->

                <div class="semaforo-container">
                    <div class="semaforo-container export">
                        <div class="notification basic" onclick="openModal('export')">
                            <i class="fas fa-bell icon"></i>
                            <span1>Notificaciones Llenos</span1>
                        </div>
                    </div>
                   
                </div>





                <!-- Modal -->
                <div id="notificationModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2 id="modalTitle" class="modal-title"></h2>
                        <div class="semaforo-container" id="modalBody"></div>
                    </div>
                </div>


                <div class="col-xl-12 col-xxl-12">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <br>
                                    <div class="card-body pb-0 pt-3">
                                        <br>
                                        <div id="grafico-vacio" style="width: 500px; height: 600px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card progress-card">
                                <br>
                                <div class="card-body d-flex">
                                    <br>
                                    <div class="card-body pb-0 pt-3">
                                        <br>
                                        <div id="grafico-naviera" style="width: 500px; height: 600px;"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                


                <div class="card">
                    <div class="card-header d-flex flex-wrap border-0 pb-0">
                        <div class="me-auto mb-sm-0 mb-3">
                            <h4 class="card-title mb-2">CONTENEDORES EN PATIO SERPOMAR</h4>
                        </div>
                    </div>

                    <div class="card-body pb-2">
                        <div id="chartBar2" class="bar-chart"></div>
                        <div id="tabla-vacio">
                          <table>
                            <thead>
                              <tr>
                                <th>Cliente</th>
                                <th>Contenedor</th>
                                <th>Tipo de contenedor</th>
                                <th>Fecha cutoff</th>
                                <th>Cantidad de días</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    <br>
                </div>

            </div>
        </div>
    </div>

    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Custom JavaScript -->


    <script src="/js/login/logout.js"></script>
    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/custom.min.js"></script>
    

   
    <script src="/js/sertrack/lleno_total.js"></script>
    <script src="/js/sertrack/tabla_lleno.js"></script>
    <script src="/js/sertrack/naviera_lleno.js"></script>
   
</body>

</html>