<!DOCTYPE html>
<html>
<head>
<title>Generador de Carnet</title>
<link rel="stylesheet" href="/css/carnet.css">
</head>
<body>

  <h1>Generador de Carnet</h1>

  <div class="container">  

    <form id="carnet-form">
      Nombre: <input type="text" id="nombre" value="Juan Andres Garcia Silva"><br>
      Cargo: <input type="text" id="cargo" value="Proyectos"><br>
      RH: <input type="text" id="rh" value="O+"><br>
      Área: <input type="text" id="area" value="D2"><br>
      Foto: <input type="file" id="foto" accept="image/*"><br> 
      <button type="button" onclick="generarCarnet()">Generar Carnet</button>
    </form>

    <div id="header-container"></div> 
    <div id="botones">
        <button type="button" onclick="descargarPDF()">Descargar PDF</button>
        <button type="button" onclick="descargarImagen()">Descargar Imagen</button>  
    </div>
  </div>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="/js/carnet/carnet.js"></script>
</body>
</html>