<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
    <!-- Style css -->
    <link href="/css/style-Dash.css" rel="stylesheet">

    <link href="/css/pages.css" rel="stylesheet" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    
    <!-- SelectTwo -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

</head>
<<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>

<body>

        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title"> ACTUALIZAR ASIGNACIONES</h1>
            </div>
        </div>


        <div class="margenform">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="container">
                    <form id="editAsignacion" method="PUT" enctype="multipart/form-data">
                        <input type="hidden" id="id_asignacion" name="id_asignacion">
                        <input type="hidden" id="id_preventa" name="id_preventa">
                        <input type="hidden" id="id_contenedor" name="id_contenedor" >
                        <input type="hidden" id="imp_exp" name="imp_exp" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Placa nueva</label>
                                    <input type="text" name="id_placa" id="id_placa" class="form-control" readonly="readonly"/>
                                    <label class="form-label">Placa vieja</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Conductor</label>
                                    <input type="text" id="conductor" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Ruta</label>
                                    <select id="id_ruta" class="form-control">
                                    <option value="">Seleccione la ruta</option>
                                </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">tarifa</label>
                                    <input type="text" id="tarifa" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Tipo operacion:</label>
                                    <select id="id_tipo_operacion" name="id_tipo_operacion" class="form-control">
                                    <option value="">Seleccione una Opción</option>
                                </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Terminal</label>
                                    <select name="id_sitio_inspeccion" id="id_sitio_inspeccion" class="form-control">
                                    <option value="">Seleccione Destino</option>
                                </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">fecha cita</label>
                                    <input type="date" id="fecha_cita" name="fecha_cita" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-label">Hora cita</label>
                                    <input type="time" id="hora_cita" name="hora_cita" class="form-control">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-primary" onclick="history.back()">Volver</button>
                                <button class="btn btn-primary" id="BtnEdittAsignacion">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Apex Chart -->
            <script src="/vendor/apexchart/apexchart.js"></script>
            <script src="/vendor/nouislider/nouislider.min.js"></script>
            <script src="/vendor/wnumb/wNumb.js"></script>

            <script src="/js/custom.min.js"></script>
            <script src="/js/dlabnav-init.js"></script>


            <script src="/Componentes/sidebar.js"></script>
            <script src="/js/login/logout.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
            <script type="text/javascript" src="/js/asignacion/editAsignacionCl.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarRutaClientesV.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarPrevnetaClienteV.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarDestino.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarTipoServicio.js"></script>
            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>