<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.2">
	<!-- PAGE TITLE HERE -->
	<title>Nodhus</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>

    <div id="layout-placeholder"></div>

    <div class="header">
        <div class="title-container">
            <div class="circle"></div>
            <h1 class="title">BUSCAR SP</h1>
        </div>
    </div>

        <div class="container-fluid main-container">
          
                <div id="content" class="p-4 p-md-5 pt-5">
                    <div class="container">
                        <div id="ordenService"></div>
                    </div>
                </div>
           
        </div>
  
        <script src="/componentes/loadSidebar.js"></script>
    <script src="/js/home/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script type="text/javascript" src="/js/solicitudes_service/searchSolicitudServ.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>