<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>

</head>
<div id="header-container"></div>
<script src="/Componentes/header.js"></script>
<script src="/Componentes/perfil.js"></script>

<body>


    <div class="header">
        <div class="header-content">
            <nav class="title-container">
                <div class="title">
                    <div class="">
                        <div class="header-left">SP
                            <div style="color: #1e90ff;" class="dashboard_bar" id="dashboard_sp">SP:</div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div id="main-wrapper">
        <div class="">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="row invoice-card-row">

                    <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="card bg-warning invoice-card">
                            <div class="card-body d-flex">
                                <div class="icon me-3">
                                    <i class="fas fa-boxes text-white" style="font-size: 28px;"></i>
                                </div>
                                <div>
                                    <div>
                                        <span class="text-white fs-18"><p id="Tencurso" style="display: none;"></p></span>
                                        <span class="text-white fs-18"><p id="Retirovacio" style="display: none;"></p></span>
                                        <div style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="card bg-warning invoice-card">
                            <div class="card-body d-flex">
                                <div class="icon me-3">
                                    <i class="fas fa-boxes text-white" style="font-size: 28px;"></i>
                                </div>
                                <div>
                                    <div>
                                        <span class="text-white fs-18"><p id="Tpendiente" style="display: none;"></p></span>
                                        <span class="text-white fs-18"><p id="ingresoPuerto" style="display: none;"></p></span>
                                        <div style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="contenedor"></div>
        </div>

        <div class="container form-status-container">
            <div class="form-container">
                <form id="saveContenedor" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="do_sp" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="do_pedido" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="contendedor" class="form-control" readonly>
                            </div>
                        </div>
                        <input type="hidden" id="id_cliente">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="cliente" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="imp_exp" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="eta" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="levante" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="documental" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="fisico" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="hidden" id="libre_hasta" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="bodega_hasta" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" id="propuesta" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id_solicitud_servicio" id="id_solicitud_servicio">



                </form>
            </div>

            <br><br>

            <input type="hidden" id="BtnLiquidar">


        </div>







        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/Componentes/sidebar.js"></script>
        <script src="/js/login/logout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/custom.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
        <script type="text/javascript" src="/js/programacion/contenedoresView.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script type="module" src="/js/solicitudes_service/estadosImpo.js"></script>
        <script type="module" src="/js/solicitudes_service/estadosExpo.js"></script>


</body>

</html>