<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <title>Nodhus</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
</head>

<body>
    <div id="layout-placeholder"></div>

    <div class="header">
        <div class="title-container">
            <h1 class="title">COSTOS AFILIADOS</h1>
        </div>
    </div>

    <div class="margenform">
        <br>
        <div class="container-fluid">
            <div class="row invoice-card-row">
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card" id="total-abiertas-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <i class="fas fa-tasks fa-2x text-white"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num" id="total-abiertas">0</h2>
                                <span class="text-white fs-18">Total SP Abiertas</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <i class="fas fa-dollar-sign fa-2x text-white"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num" id="valor-total-abiertas">0</h2>
                                <span class="text-white fs-18">$ Asignaciones abiertas</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <svg width="35px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="rgb(255, 255, 255)" d="M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10 17L16 12L10 7V17Z"/>
                                </svg>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num">0</h2>
                                <span class="text-white fs-18">Citas perdidas</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <svg width="35px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="rgb(255, 255, 255)" d="M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10 17L16 12L10 7V17Z"/>
                                </svg>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num" id="valor-total-abiertas">0</h2>
                                <span class="text-white fs-18">Valor total SP</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/componentes/loadSidebar.js"></script>
    <script src="/js/home/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
