<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet">
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
</head>

<body>
    <div id="layout-placeholder"></div>
    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">TABLERO GENERAL DE OPERACIONES</h1>
            </div>
        </div>


        
        <div class="margenform">
            <div id="content" class="p-4 p-md-0 pt-5">
                <div class="container-fluid main-container">
                    <div class="charts-grid">
                        <div class="chart-item">
                            <h1>Gráficos 1</h1>
                            <canvas id="myChart"></canvas>
                        </div>
                        <div class="chart-item">
                            <h1>Gráficos 2</h1>
                            <canvas id="myChart2"></canvas>
                        </div>
                        <div class="chart-item">
                            <h1>Gráficos 3</h1>
                            <div id="polarChart" style="width: 400px; height: 300px;"></div>
                        </div>
                        <div class="chart-item">
                            <h1>Gráficos 4</h1>
                            <div id="clientChart" style="width: 400px; height: 300px;"></div>
                        </div>
                        <div class="chart-item">
                            <h1>Gráficos 5</h1>
                            <div id="impoExpoChart" style="width: 400px; height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom JavaScript -->
    <script src="/js/home/scripts.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/graficas/charts.js"></script>
    <script src="/componentes/loadSidebar.js"></script>
</body>

</html>
